<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}ODAC - IDP demo{% endblock %}</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    {% block head %}
    {% endblock %}
</head>
<body>

<div id="page-container" class="container">
    {% block page %}
    <div class="row">
        <h1>ODAC - IDP app</h1>
        <p class="lead">
            What is the government planning near you?
        </p>
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div id="info-box">

            </div>
        </div>
        <div class="col-lg-8">
            <div id="map-container">
            </div>

        </div>
    </div>

    {% endblock %}
</div>

{% block page_footer %}
<div class="container" id="footer">
    <div class="col-lg-12 text-center">
        <hr>
        <a class="tiny-logo" href="http://www.code4sa.org/"><img id="logo-code4sa" src="/static/images/code4sa-logo-small.png"></a>
        <a class="tiny-logo" href="http://www.opendemocracy.org.za/"><img id="logo-odac" src="/static/images/odac-logo-small.gif"></a>
        <p id="copyright"><small>Copyright &copy; Open Democracy Advice Centre 2014</small></p>
    </div>
</div>
{% endblock %}

</body>
<script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/static/capesean-mapper/mapper.js" type="text/javascript"></script>
<script src="/static/ward-info.js" type="text/javascript"></script>
{% block javascript %}
<script>
    $(document).ready(function(){

        $("#map-container").mapper({
            dataType: "wards",
            drawAll: false,
            data: wards,
            province: "Western Cape",
            click: function (event) {
                var tmp =
                        "<h4>Ward No. " + this.ward_no + "</h4>"
                        + "<p><strong>Councillor: " + this.councillor + "</strong><br>"
                        + this.description + "</p>"
                $("#info-box").html(tmp)
            }
        })
    });
</script>
{% endblock %}
</html>